@{
    if(ViewData["Login"] == null) {
        ViewData["Login"] = false;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (!ViewData["Login"].Equals(true)) {
        <div class="stick">
            <a href="" class="username">Username</a>
            <a href="" class="username">[Log out]</a>
        </div>
    }
    <div class="header-container">
        <div class="box-base header">
            <div class="title">
                @ViewData["Header"]
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
