<div>
    <a class="btn" href="#creq" data-toggle="collapse" aria-expanded="false">
        Request new study plan
    </a>
    <div id="creq" class="collapse">
        <ul class="plans">
            List of study plans:
            <li><a class="sp-item" href="#">Study Plan #0</a> - Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</li>
            <li><a class="sp-item" href="#">Study Plan #1</a> - Lorem Ipsum neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</li>
            <li><a class="sp-item" href="#">Study Plan Name</a> - Sample description</li>
        </ul>
    </div>
</div>
<div>
    <a class="btn" href="#cunsub" data-toggle="collapse" aria-expanded="false">
        Unsubscribe from study plan
    </a>
    <div id="cunsub" class="collapse">
        <ul class="plans">
            List of study plans:
            <li><a class="sp-item" href="#">Unsubscribe</a> - Study Plan #0</li>
            <li><a class="sp-item" href="#">Unsubscribe</a> - Study Plan #1</li>
            <li><a class="sp-item" href="#">Unsubscribe</a> - Study Plan #n</li>
        </ul>
    </div>
</div>