html, body {
  height: 100%;
}

.container {
  color: black;
  /* width: 100vw; */
}

.box-base {
  background-color: #b2d9dd;
  margin: 20px;
  box-shadow: 2px 2px 2px #333;
  border-radius: 2px;
}

.box {
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
}

.nav-item {
  font-weight: normal;
  font-size: 18px;
  margin-left: 15px;
}

.plans {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sp-item {
  text-decoration: underline;
  margin: 5px;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.material {
  display: flex;
  flex-flow: column;
}
.material-item {
  white-space: pre-line;
}

.btn {
  padding: 0;
  text-decoration: underline;
  font-size: inherit;
}

.btn:hover {
  cursor: pointer;
  color: #43477e;
}

.form {
  display: flex;
  flex-direction: column;
}
.margin-tb {
  margin-top: 5px;
  margin-bottom: 20px;
}
select {
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #43477e;
  text-decoration: none;
}

/* Minor */
.large {
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px;
}
.small {
  font-size: 0.75em;
  font-weight: lighter;
}

.center {
  text-align: center;
}

.hold {
  align-self: flex-start;
}