@page "{sp?}"
@model StudyModel
@{
    if (Model.Sp == null) {
        RedirectToPage("/index");
    }
    ViewData["Title"] = @Model.Title;
    string StudyPlan = String.Format("~/SP/{0}/412_red_study_material_print.html", Model.Sp);
}
<body>
    <div class="box-base box material">
        <span class="material-item">
            @{ Html.Raw(Html.RenderPartialAsync(StudyPlan)); }
        </span>
    </div>
</body>